[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[merge]
  conflictstyle = diff3

[user]
  name = vtemian
  email = vladtemian@gmail.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = cyan bold
  old = red bold
  new = green

[color "status"]
  added = green
  changed = red
  untracked = yellow
